button {
  padding: 5px 30px;
  background-color: green;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  border: 0;
  border-radius: 30px;
  margin: 5px auto;
  width: 100%;
}
.todos {
  margin: auto;
  max-width: 90vw;
  .items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
